coverage
Django
django-extensions
django-filter
djangorestframework
django-reversion-compare
drf-extensions
flake8
hypothesis
ipdb
jsonschema
markdown
requests
uwsgi
Werkzeug
psycopg2
celery
django-cacheback[celery]
django-celery-results
raven
markdown
django-cors-headers
django-rest-knox
